.middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    gap: 60px;
    margin-bottom: 50px;
    flex: 1;
    padding: 60px 8%;
}
.middle-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    max-width: 700px;
    line-height: 1.7;
    font-size: 18px;
}
.middle-text p{
    color: #3a3838;
    font-size: 20px;
}
.middle-text h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.middle-text span{
    color: #96a951;
}
.middle-img{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.images{
    height: 200px;
    width: 320px;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.cta{
    margin-top: 25px;
    padding: 14px 28px;
    background: #eb9525;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}