.nav-links {
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-text {
    font-size: 12px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
}
.nav-whole {
    display: flex;
    justify-content: flex-end;
    border: grey 1px solid;
}
.nav-home, .nav-about, .nav-projects, .nav-contact, .nav-socials {
    margin-left: 20px;
    border: 1px solid black;
    padding: 4px 8px;
    text-decoration: none;
}